
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class="logo"> </div>
         <div>
            <h2>welcome!  to our registration system using Django</h2>
         </div>
    </header>
   
    <main class = 'main_container'>
        <div class='main_content'> 
            <div class="registration-panel">
                
                <a href="{% url 'SignUpPage'%}">
                    <button class="sign-up-button action-button" >Sign up</button>
                </a>
                <a href="{% url 'Login_page' %}">
                    <button class="sign-in-button action-button" >Log In</button>
                </a>
                <a href="{% url 'user_logout' %}">
                    <button class="logout-button action-button" >Log out</button>
                </a>
            </div>
        </div>
        {% if messages %}
        <div class='messages_'>
                {% for message in messages  %}
                <p>
                    {{message}}
                </p>
                {% endfor %}
            </div>
        {% endif %}
    </main>
    
    
    
</body>
</html>